.ui-autocomplete {
    overflow: auto;
    width: 200px;
    max-height: 200px;
    margin: 30px auto;
    font: bold italic 15px serif;
}

#sqlStructureResult {
    text-align: left;
    width: auto;

}
/*
.mychart,.queryChart {
    float:left;
    border: lime solid 1px;
    height:600px;
    width: 90%
}
*/