.maincontainer > div, .maincontainer > input {
    display: none;
}

/*Обводим вкладки в рамку и настраиваем её*/
.maincontainer label {
    padding: 5px;
    border: 1px solid #aaa;
    line-height: 28px;
    cursor: pointer;
    position: relative;
    bottom: 1px;
    background: #fff;
}
/*Убираем нижнию границу у вкладок*/
.maincontainer input[type="radio"]:checked + label {
    border-bottom: 2px solid #fff;
}
/*Если чекбокс выбран*/
.maincontainer > #subsInfo:checked ~ .maincontainer-subsInfo,
.maincontainer > #firmsInfo:checked ~ .maincontainer-firmsInfo,
.maincontainer > #moreInfo:checked ~ .maincontainer-moreInfo {
    display: block;
    padding: 5px;
    border: 1px solid #aaa;
}