.korpus > div, .korpus > input {
    display: none;
}

/*Обводим вкладки в рамку и настраиваем её*/
.korpus label {
    padding: 5px;
    border: 1px solid #aaa;
    line-height: 28px;
    cursor: pointer;
    position: relative;
    bottom: 1px;
    background: #ffa;
}
/*Убираем нижнию границу у вкладок*/
.korpus input[type="radio"]:checked + label {
    border-bottom: 2px solid #fff;
}
/*Если чекбокс выбран*/
.korpus > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.korpus > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.korpus > input:nth-of-type(3):checked ~ div:nth-of-type(3) {
    display: block;
    padding: 5px;
    border: 1px solid #aaa;
}